APP_NAME="Kram Team"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ton-domaine.tn
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=kram_team
DB_USERNAME=kram
DB_PASSWORD=CHANGE_ME

SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
CACHE_STORE=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=CHANGE_ME
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="contact@kramteam.com"
FRONTEND_URL=https://ton-domaine.tn
